

/*
	GENERAL INFORMATION STYLING
*/

.title {
	font: bold 25px Times New Roman;
	text-align: center;
	padding: 1em;
}

.informationMessage {
	font: normal 16px Arial;
	text-align: center;
	padding: 1em;
}





/*
	TAB STYLING
*/

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 60%;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
}

/*define button styling*/
.tab button {
	background-color: inherit;
	float: center;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1em;
	transition: 0.5s;
	font: bold 16px Arial;
}

.tab button:hover {
	background-color: #ddd;
}


.tab button.active {
	background-color: #ccc;
}

/*define content styling*/
.tabcontent {
	display: none;
	padding: 1em;
	border: 1px solid #ccc;
	border-top: none;
	width: 60%;
	box-sizing: border-box;
	margin: auto;
}




/*
	COMMON TO BOTH RECOMMENDATIONS

	These classes set up the flex environment to help with positioning and define
	the shared functionalities of both recommendations (i.e. overall email design).
*/

.around {
	display: flex;
	align-items: start;
	justify-content: space-evenly;
	width: 75%;
	box-sizing: border-box;
	padding: 1em;
}

.senderimg {

}

.right {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	padding-top: 0;
}

.senderN {
	font: bold 19px Arial;
	color: #2e2e2e;
}

.senderE {
	font: normal 15px Arial;
	color: #575757;
}

.messageContent {
	font-family: Arial;
	position: relative;
}


/*
	DISTRACTION RESILIENCE RECOMMENDATION

	These classes relate to the distraction resilience specific designs, such as 
	the small caution icon and its message displaying on hover. The message is
	originally set to 0 opacity and set to become visible when hovering over the
	warning icon.
*/

.warningIcon {
	width: 17px;
	height: 17px;
	color: #fff;
	background-color: #dfc505;
	border-radius: 25px;
	position: relative;
	display: inline-block;

	font: bold 17px Arial;
	text-align: center;
}

.warningIcon .warningText {
	opacity: 0;
	transition: opacity .5s;
	z-index: 1;

	width: 240px;
	background-color: black;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	font: bold 14px Arial;
	color: white;

	position: absolute;
	top: 150%;
	left: 200%;
	margin-left: -75px;
}

.warningIcon:hover .warningText {
	opacity: .9;
}




/*
	WARNING POLYMORPHISM RECOMMENDATION

	These classes relate to the warning polymorphism specific designs, such as 
	the large red box and its content. Both make use of an animation to display 
	movement (through the @keyframes at-rule) by both growing the warning box 
	and changing the text opacity to appear when it should.
*/

/*styles the red/white warning icon*/
.icon {
	width: 35px;
	height: 35px;
	color: #b33a3a;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	border-radius: 40px;
}

/*flex set up of the warning message to set its position*/
.warningLeft {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 1em;
	padding-top: 0;
}

/*set original warning box and animation style*/
.grow {
	display: flex;
	align-items: start;
	background-color: #b33a3a;
	padding: 10px;
	height: 50px;
	width: 50px;
	float: left;
	position: relative;
	-webkit-animation: boxMove 1.5s ease-in forwards;  
	animation: boxMove 1.5s ease-in forwards;
}

@keyframes boxMove {
	from {
		width: 35px; 
		height: 35px;
	}
	to {
		width: 100%; 
		height: 100px;
	} 
}

.titleW {
	font-size: 25px;
	font-weight: bold;
}

.titleW, .textW {
	color: #fff;
	font-family: Arial;
	-webkit-animation: warningInfo 1.5s ease-in forwards;  
	animation: warningInfo 1.5s ease-in forwards;
}

@keyframes warningInfo {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	} 
}

/*hyperlink design class*/
a {
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	border-radius: 10px;
	border: 1px solid #fff;
	padding: 5px;
	float: right;
}

